body{
    margin: 0;
    padding: 0;
    background-image: url(about.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgb(65, 206, 206);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    height: 100vh;
}
nav{
    width: 100%;
    background-color:whitesmoke;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    
}
nav :hover{
    cursor: pointer;

}
nav li{
    display: inline-block;
    padding: 15px;
}
 nav .logo{
    font-size: 40px;
    color: rgb(133, 211, 16);
    text-decoration: none;
}
nav li:hover{
    color: greenyellow;
}
nav .button1{
    cursor: pointer;
    width: 200px;
    font-size: 20px;
    border-radius: 30px;
    padding: 10px;
    color: whitesmoke;
    background-color: greenyellow;
    border-color: rgb(255, 255, 255);


}
.button1:hover{
    cursor: pointer;
   background-color: rgb(240, 240, 21);
}
.p {

    text-align: left;
    margin-left: 150px;

}
.para1 {
    margin-top: 140px;
    margin-left: 150px;
    font-size: 60px;
    color: white;


}
.para2 {
    margin-top: -70px;
    margin-left: 150px;
    font-size: 60px;
    color: white;

}
.para3 {
    font-size: 30px;
    color: white;
    margin-top: -60px;
    padding-left: 160px;
    font-size: 30px;
}
.button2{
    margin-left: 160px;
    box-align: right ;
    cursor: pointer;
    width: 200px;
    font-size: 20px;
    border-radius: 30px;
    padding: 10px;
    border-color: white;
    text-align: center;
    background: transparent;
    color: white;
    pointer-events: 200px;
}
.button2:hover{
    
    cursor: pointer;
    background-color: rgb(89, 22, 214);
    border: none;
}

.header{
    font-size: 30px;
    background-image: url(about.jpg);
    margin top: 50px;
} 